/FPGA/Vivado_synthesis/project_1/project_1.runs/*
/FPGA/Vivado_synthesis/project_1/project_1.sim/*
/FPGA/Vivado_synthesis/project_1/project_1.cache/*
/FPGA/Vivado_synthesis/project_1/.Xil/*
/FPGA/HLS/MLP_samsung_Vivado/MLP_samsung_vivado/solution1/*
